<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.presence">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FragmentActivity"></activity>
        <activity android:name=".Ajout_Etudiant" />
        <activity
            android:name=".Etudiants_Groupes"
            android:label="@string/title_activity_etudiants__groupes"
            android:parentActivityName=".Gerer_Groupes"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.presence.Gerer_Groupes" />
        </activity>
        <activity android:name=".Gerer_Groupes" />
        <activity android:name=".Gerer_Cours" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>